.table-product-admin {
    
    td {
        .ui.image {
            width: 160px;
            height: 140px;
        }
        &.status {
            .icon {
                &.close {
                    color: #f00;
                }
                &.check {
                    color: #008000;
                }
            }
        }
    }

}